.tit-prod {
    text-align: center;
}
.img-carousel {
    margin-top: 100px;
    border-radius: 100px;
    width: 500px;
}
.caja-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.creador {
    text-align: center;
    margin-top: 50px;
}

footer a {
    color: black;
    font-size: 30px;
    margin-left: 100px;
}